.nav-height {
    height: 65px;
}

.nav-text {
    text-align: left;
    font: normal normal normal 14px/17px Lato;
    font-family: 'Lato', sans-serif;
    font-family: Lato;
    letter-spacing: 0px;
    color: #927e7e;
    opacity: 1;
    text-decoration-line: none;
    margin-right: 25px;
}

a:active {
    color: #14375F;
}

/* change icons color */
fa-icon {
    color: #0971B9;
}